@import '~bootstrap/scss/functions';
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


#world-map {
  height: 28rem;
  width: 100%;

  &::ng-deep .jvectormap-container {
    border-radius: 5px;
  }

}


@include media-breakpoint-down(sm) {
  #world-map {
    height: 14rem;
  }
}
