.continent-container {
  margin-top: 1rem;
}

.country-column-width {
  min-width: 13rem
}

.note-column-width {
  min-width: 12rem
}

.info-container {
  margin: 1rem 0rem;
  span:last-child {
    margin-left: 1rem;
  }
}
