.continent-container {
  margin-top: 1rem;
}

.country-column-width {
  min-width: 13rem
}

.note-column-width {
  min-width: 12rem
}

.info-container {
  margin: 1rem 0rem;
  span {
    margin-right: 1rem;
  }
}

.go-back-button{
  margin-bottom: 1rem;
}
