@import '~bootstrap/scss/functions';
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.header-container {
  margin-bottom: 2rem;
}


.sr-list {
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #6c757d;

  .sr-result-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.small-size-search-box {
  display: none;
  margin-right: 1rem;
}

@include media-breakpoint-down(sm) {
  .small-size-search-box {
    display: block;
  }

  .big-size-search-box {
    display: none;
  }
}
