@import '../../../../node_modules/bootstrap/scss/functions';
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

.sr-list {
  background-color: white;
  position: absolute;
  width: 100%;

  .sr-result-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.small-size-search-box {
  display: none;
  margin-right: 1rem;
}

@include media-breakpoint-down(sm) {
  .small-size-search-box {
    display: block;
  }

  .big-size-search-box {
    display: none;
  }
}
