<header (selectedCountry)="selectCountryOnTheMap($event)"></header>
<div class="container-md">
  <div class="map-container">
    <world-map [mapData]="mapData" (countryOperation)="handleOperation($event)"></world-map>
  </div>
  <div class="continent-container list-group">
    <div class="list-group-item list-group-item-success"><b>Continents</b></div>
    <a routerLink="continent/AF" class="list-group-item list-group-item-action">Africa</a>
    <a routerLink="continent/AS" class="list-group-item list-group-item-action">Asia</a>
    <a routerLink="continent/EU" class="list-group-item list-group-item-action">Europe</a>
    <a routerLink="continent/NA" class="list-group-item list-group-item-action">North America</a>
    <a routerLink="continent/SA" class="list-group-item list-group-item-action">South America</a>
    <a routerLink="continent/OC" class="list-group-item list-group-item-action">Australia</a>
  </div>
  <div class="continent-container list-group">
    <div class="list-group-item list-group-item-warning"><b>Statistics</b></div>
    <div class="list-group-item list-group-item-action">Export Ratio: {{exportCount}} / {{ countryCount }}</div>
    <div class="list-group-item list-group-item-action">Import Ratio: {{importCount}} / {{ countryCount }}</div>
  </div>
</div>
